{% extends 'homebase.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block header %} {% include 'header.html' %} {% endblock %}
{% block banner %} {% include 'banner.html' %} {% endblock %}
{% block characteristics %} {% include 'characteristics.html' %} {% endblock %}
{% block best_sellers %} {% include 'best_sellers.html' %} {% endblock %}
{% block brands %} {% include 'brands.html' %} {% endblock %}
{% block banner_2 %} {% include 'banner_2.html' %} {% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}
